{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block main_class %}blog-style has-shadow{% endblock %}
{% block content %}
  <div class="screen-wipe"></div>
  <h1 class="typography--is-title">{{ page.title }}</h1>
  <p>{{ page.intro }}</p>

  {% if projects %}
    {% for project in projects %}
      {% with project=project.specific %}
        <div class="blog__index__post-block blog--reading-width">
          <h2><a class="typography--is-title" href="{{ project.url }}">{{ project.title }}</a></h2>
          <p>{{ project.intro }}</p>
          <div class="blog__index__post-image-container">
            {% image project.representative_image original %}
          </div>
        </div>
      {% endwith %}
    {% endfor %}
  {% else %}
    <p>no projects</p>
  {% endif %}

{% endblock %}
