.footer {
  border-top: 4px solid var(--col-1);
  min-height: 200px;
  padding: 1rem;
  background-color: white;
}

.footer__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 2rem;
}

.footer__content__component {
  width: 400px;
  margin: 3rem;
}

.footer__social-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer__social-icon {
  margin: 0.5rem;
  font-size: 2rem;
  color: var(--col-1);
  transition: 0.25s;
  width: 60px;
  height: 60px;
  /* LH same as height so text vertically centered within link area */
  line-height: 60px;
}

.footer__social-icon:hover,
.footer__social-icon:visited:hover {
  color: black;
}

.footer__social-icon:visited {
  color: var(--col-1);
}

@media only screen and (max-width: 1100px){
  .footer {
    text-align: center;
  }
}
