{% load static wagtailcore_tags %}
<footer class="footer">
  <div class="footer__content">
    <div class="footer__content__component">
      <h2 class="typography--is-title">Contact:</h2>
      <a href="#" class="email-hide">email@email.com</a>
      <br>
      <a href="#" class="phone-hide">9999999999</a>
    </div>

    <div class="footer__content__component footer__social-container">
      <a class="footer__social-icon" href="https://twitter.com/HawkwardPause"><i class="fab fa-twitter"></i></a>
      <a class="footer__social-icon" href="https://www.linkedin.com/in/mike-hayward-9821a194/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>


</footer>
