{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block main_class %}blog-style has-shadow{% endblock %}
{% block content %}
  <h1 class="typography--is-title">{{ page.title }}</h1>
  <small>{{ page.first_published_at|date:"d M, Y" }}</small>
  <p>{{ page.intro }}</p>
  <div class="blog__representative-image-container">
    {% image page.representative_image width-900 %}
  </div>
  <div class="blog--reading-width">
    {{ page.body|richtext }}
  </div>
  <a class="UI__button-link margin-3 centered-block is-background-col-1" href="{{ page.get_parent.url }}">Return to blog</a>

{% endblock %}
